* { margin: 0; padding: 0; box-sizing: border-box; }

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  font-family: system-ui, sans-serif;
}

.datepicker-icon {
  width: 48px;
  height: 48px;
  font-size: 28px;
  border-radius: 50%;
  border: 4px solid darkred;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.calendarWrapper {
  position: absolute;
  width: auto;
  top: 100%;
  left: 0;
  margin-top: 5px;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: lightblue;
}

/* データが存在する日付のマーク */
.datepicker-has-data {
  position: relative;
  font-weight: bold;
  color: #333;
  background-color: #ffe08a;
  border-radius: 50%;
}

.filter-container {
  position: relative;
}

.filter-icon {
  width: 48px;
  height: 48px;
  font-size: 28px;
  border-radius: 50%;
  border: 4px solid darkred;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.filterWrapper {
  width: 400px;
  font-size: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: lightblue;
}

.calendar-close-btn, .filter-close-btn {
  position: absolute;
  font-size: 24px;
  top: 0;
  right: 8px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  z-index: 10;
}

.calendar-close-row {
  position: relative;
  height: 24px;
}

.pictureInPicture {
  width: 90px;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureInPicture img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.filter-reset-btn {
  font-size: 16px;
  display: block;
  top: 0;
  right: 40px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  z-index: 10;
}

.options {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  gap: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
